.navbar { margin-bottom: 20px; }
        .footer { padding: 2rem 0; background:  rgb(190, 72, 72); color: #fff; text-align: center; }
        .footer a { color: #fff; margin: 0 10px; } 
        /* .carousel-item {
            height: 500px;
            width: 100%; 
            overflow: hidden; 
        }
        .w-100 {
            width: 100%; 
        } */
        .mg-btm-sm {
            margin-bottom: 3rem; 
        }
        .black{
            background-color: rgb(241, 121, 121);
        }
        .mg-btm-sm1 {
            margin-bottom: 1rem; 
        }
        .center {
            text-align: center;
        }
        .mg-top-f{
            margin-top: 5rem;
        }
        .header {
            background-image: linear-gradient(to right bottom, rgba(0,0,0,0.8), rgba(0, 0, 0, 0.5)),url("imgs/ha2.png");
            background-position: center center;
            background-repeat: no-repeat;  
            color: white; 
            background-size: cover;
        }
        .h-flex {
            display: flex;
            line-height: 1.7;
            padding: 7rem 0;    
        }
        .max-width {
            max-width: 1000px;
            margin: 0 auto; 
        }
        .header-left {
            flex-basis: 50%;
            margin-right: 2rem; 
        }
        .header-right {
            flex-basis: 50%;
        }

        .header_btn {
            display: inline-block;
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            border-radius: 10px;
            text-decoration: none;

        }
        .header_btn:hover{
            text-decoration: none;
        }
        .header_img-box {
            max-width: 100%;
        }
        .header-right-image {
            width: 100%;
        }
        .social-icon {
            width: 2rem;
            height: 2rem;
         }
         .set_image{
            width: 100%;
            max-height: 12rem;
         }